#content-container{
    background-color: #dce2fa;
    margin-top: 400px;
    width: 100%;
    margin: 0 auto;
    flex: 1;
    
}

#content{
   
    display: flex;
    margin: auto;
    flex-direction: column;
    padding: 7rem;
   
    
}



#about-project{
    display: flex;
    margin: auto;
    flex-direction: column;
    padding: 1rem;
}

h1{
    padding-bottom: 2rem;
}