#bar{
    background-color: #084C68;
    height: 30px;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    margin: 0px 81px;
    color: #084C68;
}

#navbar h2{
    font-size: 1.2rem;
}

#navbar ul{
    display: flex;
    gap: 1rem;
    text-decoration: none;
}

#navbar li{
    font-size: 0.7rem;
    list-style-type: none;
    font-weight: bold;
}

